:root{
 /* colors  */
 --Brightcolor:#FED40D;
 --BrightcolorLight:#fed60d63;
 --primaryBackground:#141414;
 --secondaryBackground:#242424;
 --greyLight: #2424245d;
 --p:5px;
 /* --m:5px; */
 --mxw:1200px;

 /* fonts */
 --sFont:2.5rem;

}

.languages-container{
 padding: 10px 20px;
 position: fixed;
 top: 10vh;
 background-color: #2C2C2C;
 box-shadow: 1px 1px 5px 1px #222;
 border-radius: 10px;
 width: 50vw;
 max-width: 500px;
}
.languages{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* background-color: red; */
}
.languages h1{
 width: 100%;
 color: #fff;
 text-align: center;
 margin: 10px 0;
}
.languages span{
 position: absolute;
 top: 0;
 right: 0;
}
.languages i{
 color:grey;
}
.langMainContainer{
 width: 100vw;
 position: fixed;
 top: 0;

 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--greyLight);
 height: 100vh;
}
.listLang{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: 80%;
}
.btn{
 cursor: pointer;
}
.listLang img{
 cursor: pointer;
 width: 50px;
 border-radius: 50%;
 margin: 10px;
 align-content: flex-start;
}
.closeLang{
 margin: 10px 0;
 font-size: 1rem;
 font-weight: bold;
 color: #fff;
 background-color: transparent;
 border: 2px solid var(--Brightcolor);

}
.closeLang:hover{
 background-color: var(--BrightcolorLight);
}