/* 


*/
:root{
 /* colors  */
 --Brightcolor:#FED40D;
 --primaryBackground:#141414;
 --secondaryBackground:#242424;
 --greyLight: #242424;
 --grey: #404040;
 --p:5px;
 /* --m:5px; */
 --mxw:1200px;

 /* fonts */
 --sFont:2.5rem;

}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}
body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: var(--primaryBackground);
 overflow-x: hidden;
 position: relative;
}

.divider{
 margin-top: 60vh;
 margin-bottom: 20px;
 height: 30px;
 background-color: var(--greyLight);
 width: 95%;
 border-radius: 5px;
max-width: var(--mxw); 

}
.row{
 display: flex;
}


.displayedContents{
 padding: 10px;
 /* background-color: red; */
 background-color: #404040;
 width: 100%;
 display: flex;
 justify-content: space-between;
 min-height: 300px;
}
.displayedContents div{
 margin: 10px;
 
 /* background-color: red; */
}
.displayedContents div:nth-child(1){
 /* background-color: red; */
 display: flex;
 flex-direction: column;
 width: 25%;
}
.displayedContents div:nth-child(1) h1{
 background-color: var(--Brightcolor);
 border-radius: 10px;
 border: none;
 padding: 5px 10px;
 font-size: 0.8rem;
 cursor: pointer;
 margin: 5px 0;
 text-align: center;
}
.displayedContents div:nth-child(1) .tab{
 /* background-color: var(--Brightcolor); */
 border-radius: 10px;
 border: none;
 padding: 5px 10px;
 font-size: 0.8rem;
 cursor: pointer;
 margin: 5px 0;
 width: 100%;
 text-align: center;
}
.displayedContents div:nth-child(1) span{
 background-color: var(--Brightcolor);

 border-radius: 5px;
 width: 50% !important;
 border: none;
 padding: 5px 20px;
 font-size: 0.8rem;
 cursor: pointer;
 margin: 5px 0;
 text-align: center;
}
.displayedContents div:nth-child(2){
 /* background-color: green; */
 width: 50%;
}
.displayedContents div:nth-child(2) div{
 display: flex;
 flex-direction: column;
 /* background-color: red; */
 font-size: 0.8rem;
 color: #fff;
 width: 100%;
}
.displayedContents div:nth-child(2) div:nth-child(1){
 display: flex !important;
 flex-direction: row !important;
}
.displayedContents div:nth-child(2) div:nth-child(1) a{
 text-decoration: none;
 color: #fff;
 margin: 0 0px;
 padding:10px 10px;
 border-bottom: 3px solid transparent;
 
}
.displayedContents div:nth-child(2) div:nth-child(1) a:hover{
 border-bottom: 3px solid var(--Brightcolor);
 cursor: pointer;
}


.displayedContents div:nth-child(3){
 /* background-color: red; */
 width: 25%;
}
.displayedContents div ul{
 border: 1px solid var(--grey);
 padding: 10px 10px;
 border-radius: 10px;
 display: flex;
 justify-content: center;
}
.displayedContents li{
 list-style-type: none;
}
.displayedContents input{
 background-color: transparent;
 border: none;
 color: var(--grey);
 outline: none;
}
hr{
 margin: 10px 0;
 border: 1px solid var(--grey);
 background-color: transparent;
}
.lists-sports{
 display: flex;
 flex-direction: column;
 cursor: pointer;
 border: none !important;
}
.lists-sports li:hover{
 background-color: var(--Brightcolor);
}
.lists-sports li:hover .lists-sports li div p{
 color: #000 !important;
}
.lists-sports li div{
 color: #fff;
 font-size: 0.8rem;
 width: 100%;
 display: flex !important ;
 flex-direction: row !important;
 justify-content: space-between !important;
 align-items: center;

}
